/* border */

.boder {
  border: 1px solid red;
  /* border-width: 4px 2px 6px 15px;
  border-style: dotted solid double dashed;
  border-color: blue red gray green; */
  /* border-bottom-style: solid; */
  /* border-bottom: 1px solid blue; */
}
